#lindon {
	left: 370px;
	top: 100px;
}

#eriador {
	left: 430px;
	top: 160px;
}

#forodwaith {
	left: 620px;
	top: 20px;
}

#enedwaith {
	left: 510px;
	top: 240px;
}

#moria {
	left: 620px;
	top: 215px;
}

#rhovanion {
	left: 750px;
	top: 170px;
}

#rohan {
	left: 625px;
	top: 270px;
}

#gondor {
	left: 615px;
	top: 340px;
}

#rhun {
	left: 870px;
	top: 265px;
}

#mordor {
	left: 820px;
	top: 350px;
}

#khand {
        left: 930px;
	top: 360px;
}

#harad {
	left: 770px;
	top: 540px;
}

#Arnor {
	left: 500px;
	top: 140px;
	border: 3px solid #6c93c1;
}

#Shadowlands {
	left: 880px;
	top: 325px;
	border: 3px solid #98963f;
}