body {
    margin: 0;
}

.content {
    margin: 8px;
}

.board {
	width: 1000px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.turn {
	padding: 5px 10px;
	font-size: 20px;
    border-radius: 15px;
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
	box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
}

.board-container {
	position: relative;
    margin: 20px;
}

.options {
	position: absolute;
    top: 0;
    left: 1020px;
    width: 700px;
}

.question_box {
	position: relative;
	left: 300px;
	top: 200px;
	padding: 20px;
	width: 400px;
	text-align: center;
	z-index: 99;
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
	box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
}

.player {
	margin: 5px;
	padding: 10px 15px;
	width: 500px;
    border-radius: 15px;
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
	box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
}

.title {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: red;
	font-family: Georgia, serif;
    background-color: navy;
	-webkit-box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.41);
	-moz-box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.41);
	box-shadow: inset 0px 0px 15px 1px rgba(0,0,0,0.41);
}

.inactive {
    color: white;
    text-align: center;
}

.alert {
	padding: 5px;
}

.alert-danger {
	background-color: rgb(242, 222, 222);
	border: 2px solid rgb(235, 204, 209);
    color: rgb(169, 68, 66);
}

.alert-info {
	background-color: rgb(217, 237, 247);
	border: 2px solid rgb(188, 232, 241);
    color: rgb(49, 112, 143);
}

.alert-success {
	background-color: rgb(223, 240, 216);
	border: 2px solid rgb(214, 233, 198);
    color: rgb(60, 118, 61);
}

.alert-warning {
	background-color: rgb(252, 248, 227);
	border: 2px solid rgb(250, 235, 204);
    color: rgb(138, 109, 59);
}

.cancel{
    position: absolute;
    top: 0px;
    left: 400px;
    width: 40px;
    display: block;
}

.end_box {
	position: relative;
	left: 200px;
	top: 200px;
	padding: 20px;
	width: 600px;
	height: 200px;
	text-align: center;
	z-index: 99;
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
	box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
}

.circle {
	width: 20px;
    height: 20px;
    border-radius: 50%;
	text-align: center;
	position: absolute;
	font-family: Georgia, serif;
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
	box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.41);
}

.continental {
    border-radius: 10%;
	width: 33px;
    height: 33px;
	font-size: 1.5em;
	color: darkgrey;
}

.continental:hover {
	color: darkgrey;
}

.marked {
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 5px 1px rgba(255,255,255,1);
}

.noplayer {
	background: white;
    border: 1px solid white;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.41);
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.41);
}

.player1 {
    background: red;
    border: 1px solid darkred;
}

.player2 {
    background: blue;
    border: 1px solid darkblue;
}

.player3 {
    background: green;
    border: 1px solid darkgreen;
}

.player4 {
    background: gold;
    border: 1px solid gold;
}

.player5 {
    background: grey;
    border: 1px solid black;
}

.player6 {
    background: lightgrey;
    border: 1px solid grey;
}


a > div.circle {
	color: white;
	text-decoration: none;
    border: 1px solid white;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.41);
	-moz-box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.41);
	box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.41);
}

a > div.circle.noplayer {
	color: black;
	text-decoration: none;
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(255,255,255,0.41);
	-moz-box-shadow: inset 0px 0px 5px 1px rgba(255,255,255,0.41);
	box-shadow: inset 0px 0px 5px 1px rgba(255,255,255,0.41);
}

a > div.circle.chosen {
	color: black;
    border: 1px solid white;
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.8);
	-moz-box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.8);
	box-shadow: 0px 0px 5px 10px rgba(255,255,255,0.8);
}

a > div.circle:hover {
	color: darkgray;
}