<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ryzyko - tworzenie nowej gry</title>
</head>
<body>
    Wybierz graczy
    <form method="GET" action="{{ url_for('newgame')}}">
        <label for="player1">Gracz 1</label>
        <select name="player1">
            <option value="self-player">Ja (ten komputer)</option>
            <option value="ai-player" disabled>Gracz komputerowy</option>
            <option value="human-player" disabled>Inny gracz online</option>
        </select><br>
        <label for="player2">Gracz 2</label>
        <select name="player2">
            <option value="self-player">Ten komputer</option>
            <option value="ai-player">Gracz komputerowy</option>
            <option value="human-player" disabled>Inny gracz online</option>
        </select><br>
        {% for i in range(3,players_num+1) %}
            <label for="player{{ i }}">Gracz {{ i }}</label>
            <select name="player{{ i }}">
                <option value="self-player">Ten komputer</option>
                <option value="ai-player">Gracz komputerowy</option>
                <option value="human-player" disabled>Inny gracz online</option>
            </select><br>
        {% endfor %}
        <input type="hidden" name="players_num" value="{{ players_num }}">
        <input type="hidden" name="map_name" value="{{ map_name }}">
        <input type="submit" value="Graj!">
    </form>
</body>
</html>