{% extends 'layout.html' %}
{% block title %}Tworzenie nowej gry{% endblock %}
{% block head %}{% endblock %}
{% block body %}
    <h1>Wybierz graczy</h1>
    <form method="GET" action="{{ url_for('newgame')}}">
        <label for="player1">Gracz 1</label>
        <select name="player1">
            <option value="self-player">Ja (z tego okna)</option>
        </select>
        <label for="player1name">Imię gracza:</label>
        <input type="text" name="player1name">
        <br>
        {% for i in range(2, players_num + 1) %}
            <label for="player{{ i }}">Gracz {{ i }}</label>
            <select name="player{{ i }}" onchange="toggleAlgorithmChoose(this, 'player{{ i }}algorithm')">
                <option value="ai-player">Gracz komputerowy</option>
                <option value="self-player">Gracz ludzki (z tego okna)</option>
                <option value="human-player" disabled>Inny gracz online</option>
            </select>
        <label for="player{{ i }}name">Imię gracza:</label>
        <input type="text" name="player{{ i }}name">
        <div  id="player{{ i }}algorithm" style="display: inline">
            <label for="player{{ i }}algorithm">Algorytm</label>
            <select name="player{{ i }}algorithm">
                <option value="easy">EasyAI</option>
                <option value="random">RandomAI</option>
            </select>
        </div>
        <br>
        {% endfor %}
        <input type="hidden" name="players_num" value="{{ players_num }}">
        <input type="hidden" name="map_name" value="{{ map_name }}">
        <input type="submit" value="Graj!">
    </form>
    <script>
        function toggleAlgorithmChoose(elem, id) {
            if(elem.value === "ai-player")
                document.getElementById(id).style.display = "inline";
            else
                document.getElementById(id).style.display = "none";
        }
    </script>
{% endblock %}