{% extends 'layout.html' %}
{% block title %}Wybór graczy{% endblock %}
{% block head %}{% endblock %}
{% block body %}
    {% if overwrite %}
        Uwaga! Masz niedokończoną grę. Stworzenie nowej spowoduje usunięcie starej. Może jednak chcesz dokończyć partię?
        <a href="{{ url_for('play') }}"><button>Rzeczywiście, chcę</button></a><br>
    {% endif %}
    <form method="GET" action="{{ url_for('choose_players')}}">
        <h1>Dostosuj grę</h1>
        <label for="game_name">Nazwa gry:</label>
        <input type="text" name="game_name">
        <br>
        <label for="players">Wybierz ilość graczy</label><br>
        <input type="radio" name="players" value="2" required>2<br>
        <input type="radio" name="players" value="3" required>3<br>
        <input type="radio" name="players" value="4" required>4<br>
        <input type="radio" name="players" value="5" required>5<br>
        <input type="radio" name="players" value="6" required>6<br>
        <br>
        <label for="map_name">Wybierz mapę</label><br>
        <input type="radio" name="map_name" value="world" required>Ryzyko - Świat<br>
        <input type="radio" name="map_name" value="middleEarth" required>Śródziemie<br>

        <input type="hidden" name="newgame" value="True">
        <input type="submit" value="Dalej">
    </form>
{% endblock %}