{% extends 'layout.html' %}
{% block title %}Koniec gry{% endblock %}
{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='maps/' + map + '/style.css') }}">
{% endblock %}
{% block body %}
    <div class="board-container">
        <div>
        <img class="board" src="{{ url_for('static', filename='maps/' + map+'/mapa.png') }}">
        {% for territory in territories %}
            <div id="{{ territory[0] }}" class="circle {{ territory[1] }}{% if territory[0] == chosen_territory %} chosen{% endif %}" >{{ territory[2] }}</div>
        {% endfor %}
        {% for continent in continents %}
            <div id="{{ continent[0] }}" class="circle continental {{ continent[1] }}" >{{ continent[2] }}</div>
        {% endfor %}
        </div>
        <div class="end_box {{ player[0] }}">
            <h1><small>Koniec gry</small></h1>
            Gra zakończyła się po {{ round }} ruchach.<br>
            Zwycięzca: {{ player[1] }}<br>
            <a href="{{ url_for('hello') }}"><button>Zagraj jeszcze raz</button></a>
        </div>
        <div class="options">
            <h1>Historia gry</h1>
            {% for turn, actions in log %}
                {% if turn == 0 %}
                    <h2>Faza początkowa</h2>
                    {% for phase, action in actions.items() %}
                        {% if phase != 'deploy' %}
                            <div class="player{{ action[1] }}">{{ action[2] }} zajmuje {{ action[0] }}</div>
                        {% endif %}
                    {% endfor %}
                    {% for phase, action in actions.items() %}
                        {% if phase == 'deploy' %}
                            <h2>Początkowe wzmocnienia</h2>
                            {% for territory, deployment in action.items() %}
                                <div class="player{{ deployment['player_id'] }}">{{ deployment['player'] }} wzmacnia {{ territory }} {{ deployment['units'] }} jednostkami</div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if actions['deploy'] %}
                        <h2 class="player{{ actions['player'][1] }}">Ruchy gracza {{ actions['player'][0] }}</h2>
                        <h3>Wzmocnienia</h3>
                        {% for ter, dep in actions['deploy'].items() %}
                            {{ dep }} jednostek na terytorium {{ ter }}<br>
                        {% endfor %}
                        <h3>Ataki</h3>
                        {% for attack in actions['attack'] %}
                            Atak {{ attack[2] }} jednostkami z {{ attack[0] }} na {{ attack[1] }} - {% if attack[3] %}sukces{% else %}porażka{% endif %}<br>
                        {% endfor %}
                        {% for elimination in actions['elimination'] %}
                            <div class="player{{ elimination[0] }}">W tej turze {{ elimination[1] }} został wyeliminowany</div>
                        {% endfor %}
                        <h3>Przegrupowania</h3>
                        {% if actions['fortify'] %}
                            {{ actions['fortify'][2] }} jednostek z {{ actions['fortify'][0] }} do {{ actions['fortify'][1] }}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}