{% extends 'layout.html' %}
{% block title %}Otwarte gry online{% endblock %}
{% block head %}{% endblock %}
{% block body %}
    <h1>Dołącz do gry online</h1>
    <form action="{{ url_for('join') }}">
    <label for="name">Wpisz swoje imię:</label>
    <input type="text" name="name" required>
    <br>
    Wybierz jedno z wolnych miejsc:
    {%  for game_id, game in games %}
            <h2>Gra: {{ game['game_name'] }}</h2>
            {% for player in game['players'] %}
                <div class="player{{ player[0] }} player">
                    {% if player[1] == None %}
                        <input type="radio" name="player_id" value="{{ game_id }},{{ player[0] }}" required>
                        <span style="color: white"><em> Gracz {{ player[0] }} - wolne</em></span>
                    {% elif player[1] == 'ai' %}
                        {{ player[2] }} - gracz komputerowy
                    {% elif player[1] == player_id %}
                        <span style="color: white">{{ player[2] }} - ja</span>
                    {% else %}
                        {{ player[2] }} - gracz ludzki
                    {% endif %}
                </div>
            {% endfor %}
    {% endfor %}
    <input type="submit" value="Dołącz">
    </form>
{% endblock %}