{% extends 'layout.html' %}
{% block title %}{{ game_name }}{% endblock %}
{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='maps/' + map + '/style.css') }}">
{% endblock %}
{% block body %}
    <div class="{{ player[0] }}">
        Faza: {{ phase }}, Gracz aktywny: {{ player[1] }}, Runda: {{ round }}<br>
        {% if phase == 'initial' or phase == 'initial-reinforce' or phase == 'deployment' %}
            Units left: {{ units_left }}
        {% endif %}
    </div>
    {% if watching %}
        Trwa ruch innego gracza. Poczekaj na swoją kolej
        <a href="{{ url_for('play') }}"><button>Odśwież, by sprawdzić, czy to już</button></a>
    {% endif %}
    <div class="board-container">
        <div>
        <img class="board" src="{{ url_for('static', filename='maps/' + map+'/mapa.png') }}">
        {% for territory in territories %}
            {% if territory[0] in active_territories %}
                <a href="{{ url_for('play') }}/{{ phase }}/{% if chosen_territory %}{{ chosen_territory }}/{% endif %}{{ territory[0] }}">
            {% endif %}
            <div id="{{ territory[0] }}" class="circle {{ territory[1] }}{% if territory[0] == chosen_territory %} chosen{% endif %}" >{{ territory[2] }}</div>
            {% if territory[0] in active_territories %}
                </a>
            {% endif %}
        {% endfor %}
        {% for continent in continents %}
            <div id="{{ continent[0] }}" class="circle continental {{ continent[1] }}" >{{ continent[2] }}</div>
        {% endfor %}
        </div>
        {% if abandon %}
        <div class="question_box noplayer">
            <form action="{{ url_for('abandon_game') }}">
                <label for="confirm">Czy na pewno chcesz porzucić grę? Nie będzie się dało do niej wrócić.</label>
                <input type="hidden" name="confirm" value="true">
                <input type="submit" value="Rzucam wszystko i jadę w Bieszczady!">
            </form>
            <a href="{{ url_for('play') }}"><button>Yyy... jednak chcę dokończyć tę partię</button></a>
        </div>
        {% elif question_box %}
        <div class="question_box {{ player[0] }}">
            <a href="{{ url_for('play') }}"><button class="div cancel">&times;</button></a>
            {% if phase == 'attack' %}
                Atakujesz {{ question_box[1] }} z {{ question_box[0] }}
            {% elif phase == 'fortify' %}
                Przenosisz wojska z {{ question_box[0] }} do {{ question_box[1] }}
            {% else %}
                Dodajesz wzmocnienia do {{ question_box[0] }}
            {% endif %}
            <br>
            <form action="{{ url_for('play') }}/{{ phase }}{% if phase != 'deployment' %}/{{ chosen_territory }}{% endif %}/{{ destination_territory }}">
                <label for="units">Ilu jednostek chcesz do tego użyć?</label>
                <input type="number" name="units" min="1" max="{{ question_box[2] }}"
                       value="{% if phase == 'deployment' %}1{% else %}{{ question_box[2] }}{% endif %}">
                <input type="submit" value="Wykonaj!">
            </form>
        </div>
        {% endif %}
        <div class="options">
            <a href="{{ url_for('abandon_game') }}"><button style="color: #ad3e3c">Porzuć grę</button></a>
            {% if phase == 'attack' %}
                <br><a href="{{ url_for('play') + '/new_phase' }}"><button><strong>Zakończ ataki</strong></button></a>
            {% elif phase == 'fortify' %}
                <br><a href="{{ url_for('play') + '/new_phase' }}"><button><strong>Zakończ rundę bez przenoszenia wojsk</strong></button></a>
            {% endif %}
            {% if log %}
                <h1>Ruchy w tej rundzie</h1>
                {% for turn, actions in log %}
                    {% if actions['deploy'] %}
                        <h2 class="player{{ actions['player'][1] }}">Ruchy gracza {{ actions['player'][0] }}</h2>
                        <h3>Wzmocnienia</h3>
                        {% for ter, dep in actions['deploy'].items() %}
                            {{ dep }} jednostek na terytorium {{ ter }}<br>
                        {% endfor %}
                        <h3>Ataki</h3>
                        {% for attack in actions['attack'] %}
                            Atak {{ attack[2] }} jednostkami z {{ attack[0] }} na {{ attack[1] }} - {% if attack[3] %}sukces{% else %}porażka{% endif %}<br>
                        {% endfor %}
                        {% for elimination in actions['elimination'] %}
                            <div class="player{{ elimination[0] }}">W tej turze {{ elimination[1] }} został wyeliminowany</div>
                        {% endfor %}
                        <h3>Przegrupowania</h3>
                        {% if actions['fortify'] %}
                            {{ actions['fortify'][2] }} jednostek z {{ actions['fortify'][0] }} do {{ actions['fortify'][1] }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}