<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ryzyko</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename=map + '/style.css') }}">
</head>
<body>
    {% if message %}
        {{ message }}<br><br>
    {% endif %}
    <div class="{{ player[0] }}">
        Phase: {{ turn[0] }}, active player: {{ player[1] }}, total turn: {{ turn[1] }}<br>
        {% if turn[0] == 'initial' or turn[0] == 'initial-reinforce' or turn[0] == 'deployment' %}
            Units left: {{ units_left }}
        {% endif %}
    </div>
    <div class="board-container">
        <div>
        <img class="board" src="{{ url_for('static', filename=map+'/mapa.png') }}">
        {% for territory in territories %}
            {% if territory[0] in active_territories %}
                <a href="{{ url_for('play') }}/{{ turn[0] }}/{% if chosen_territory %}{{ chosen_territory }}/{% endif %}{{ territory[0] }}">
            {% endif %}
            <div id="{{ territory[0] }}" class="circle {{ territory[1] }}{% if territory[0] == chosen_territory %} chosen{% endif %}" >{{ territory[2] }}</div>
            {% if territory[0] in active_territories %}
                </a>
            {% endif %}
        {% endfor %}
        {% for continent in continents %}
            <div id="{{ continent[0] }}" class="circle continental {{ continent[1] }}" >{{ continent[2] }}</div>
        {% endfor %}
        </div>
        <div class="options">
            {% if turn[0] == 'attack' %}
                <a href="{{ url_for('newturn') }}"><button>Zakończ ataki</button></a>
            {% elif turn[0] == 'fortify' %}
                <a href="{{ url_for('newturn') }}"><button>Zakończ rundę bez przenoszenia wojsk</button></a>
            {% endif %}
        </div>
    </div>
</body>
</html>