<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ryzyko</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename=map + '/style.css') }}">
</head>
<body>
    {% if message %}
        {{ message }}<br><br>
    {% endif %}
    <div class="{{ player[0] }}">
        Faza: {{ phase }}, Gracz aktywny: {{ player[1] }}, Runda: {{ round }}<br>
        {% if phase == 'initial' or phase == 'initial-reinforce' or phase == 'deployment' %}
            Units left: {{ units_left }}
        {% endif %}
    </div>
    <div class="board-container">
        <div>
        <img class="board" src="{{ url_for('static', filename=map+'/mapa.png') }}">
        {% for territory in territories %}
            {% if territory[0] in active_territories %}
                <a href="{{ url_for('play') }}/{{ phase }}/{% if chosen_territory %}{{ chosen_territory }}/{% endif %}{{ territory[0] }}">
            {% endif %}
            <div id="{{ territory[0] }}" class="circle {{ territory[1] }}{% if territory[0] == chosen_territory %} chosen{% endif %}" >{{ territory[2] }}</div>
            {% if territory[0] in active_territories %}
                </a>
            {% endif %}
        {% endfor %}
        {% for continent in continents %}
            <div id="{{ continent[0] }}" class="circle continental {{ continent[1] }}" >{{ continent[2] }}</div>
        {% endfor %}
        </div>
        {% if question_box %}
        <div class="question_box {{ player[0] }}">
            {% if phase == 'attack' %}
                Atakujesz {{ question_box[1] }} z {{ question_box[0] }}
            {% else %}
                Przenosisz wojska z {{ question_box[0] }} do {{ question_box[1] }}
            {% endif %}
            <br>
            <form action="{{ url_for('play') }}/{{ phase }}/{{ chosen_territory }}/{{ destination_territory }}">
                <label for="units">Ilu jednostek chcesz użyć do tego ruchu?</label>
                <input type="number" name="units" min="1" max="{{ question_box[2] }}" value="{{ question_box[2] }}">
                <input type="submit" value="Wykonaj!">
            </form>
        </div>
        {% endif %}
        <div class="options">
            {% if phase == 'attack' %}
                <a href="{{ url_for('new_phase') }}"><button>Zakończ ataki</button></a>
            {% elif phase == 'fortify' %}
                <a href="{{ url_for('new_phase') }}"><button>Zakończ rundę bez przenoszenia wojsk</button></a>
            {% endif %}
        </div>
    </div>
</body>
</html>